<div role="form">
  <div class="box-body">
    <field
      id="name"
      label="Nome"
      grid="12 6 4"
      placeholder="Informe o nome"
      type="text"
      model="billingCycleController.billingCycle.name"
      readonly="billingCycleController.tabDelete"
    >
    </field>
    <field
      id="month"
      label="Mês"
      grid="12 6 4"
      placeholder="Informe o mês"
      type="number"
      model="billingCycleController.billingCycle.month"
      readonly="billingCycleController.tabDelete"
    >
    </field>
    <field
      id="year"
      label="Ano"
      grid="12 6 4"
      placeholder="Informe o ano"
      type="number"
      model="billingCycleController.billingCycle.year"
      readonly="billingCycleController.tabDelete"
    >
    </field>

    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Créditos</legend>
        <div ng-include="'billingCycle/creditList.html'"></div>
      </fieldset>
    </div>
  </div>
  <div class="box-footer">
    <button
      class="btn btn-primary"
      ng-click="billingCycleController.create()"
      ng-if="billingCycleController.tabCreate"
    >
      Incluir
    </button>
    <button
      class="btn btn-info"
      ng-if="billingCycleController.tabUpdate"
      ng-click="billingCycleController.update()"
    >
      Alterar
    </button>
    <button
      ng-click="billingCycleController.delete()"
      class="btn btn-danger"
      ng-if="billingCycleController.tabDelete"
    >
      Excluir
    </button>
    <button class="btn btn-default" ng-click="billingCycleController.refresh()">
      Cancelar
    </button>
  </div>
</div>
